@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global */
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

body a {
  text-decoration: none;
  color: #272a31;
}

body p {
  margin-top: 0;
  margin-bottom: 0;
}

body button {
  cursor: pointer;
}

/* Line */
.line {
  width: 40px;
  height: 2px;
  background-color: #ec5242;
}

/* Mobile version */

@media only screen and (max-width: 767px) {
  /* Top */
  .top {
    position: absolute;
    display: none;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    transition: all 500ms;
    backdrop-filter: blur(5px);
  }

  .menuOpen {
    left: 0;
  }

  .sidebar a {
    color: #fff;
  }

  #logoMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  #menuLogo {
    width: 50%;
    border-radius: 5px;
    object-fit: cover;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.7;
    height: 100%;
    padding: 2vh;
    gap: 1vh;
    border: transparent;
    background-color: #272a31;
  }

  .toggle li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding: 3vh;
  }

  .close {
    display: flex;
    margin-left: 90%;
    margin-right: auto;
    border: transparent;
    background-color: transparent;
    padding: 1vh;
    overflow: hidden;
  }

  /* DesktopNav */
  .desktopNav {
    position: absolute;
    display: none;
  }

  /* MobileNav */
  .mobileNav {
    display: flex;
    align-items: center;
    padding: 1%;
    background-image: url(../img/background/headlineBackground.png);
  }

  .hamburguer {
    font-weight: 900;
    font-size: 50px;
    border: #272a31 solid 1px;
    background-color: rgba(255, 255, 255, 0.379);
    border-radius: 5px;
  }

  /* Headline */
  .containerHeadline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../img/background/headlineBackground.png);
  }

  .headline {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4vh 2.5vh 7vh 2.5vh;
    gap: 4vh;
    color: #272a31;
  }

  .titleHeadline {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ec5242;
  }

  .titleHeadline h2 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  .titleHeadline h1 {
    margin-top: 1vh;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 38px;
    line-height: 38px;
  }

  .secondHeadline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 3vh 3vh 3vh;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    border: #272a31 solid 3px;
    background-color: #fff;
  }

  .dataHeadline {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }

  #message {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
  }

  #email {
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px;
    color: #272a31;
  }

  /* Logo */
  .containerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6vh 0 6vh 0;
    color: #272a31;
    text-align: center;
    border-bottom: #d6d7da solid 2px;
  }

  .containerLogo h3 {
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 22px;
    font-weight: 700;
    line-height: 3.5vh;
  }

  .containerLogo p {
    padding: 3vh 4vh 5vh 4vh;
    line-height: 3vh;
  }

  .imagen {
    display: flex;
    width: 80%;
    border: #d6d7da solid 2px;
    border-radius: 1vh;
    background-size: cover;
  }

  .imagen img {
    width: 100%;
    overflow: hidden;
  }

  /* Feature */
  .containerFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 0 3vh 0;
    text-align: center;
    border-bottom: #d6d7da solid 2px;
    color: #272a31;
  }

  .containerFeature h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1vh;
    margin-top: 0;
  }

  .containerFeature span {
    font-size: 20px;
    font-weight: 900;
  }

  .containerFeature p {
    padding: 2vh 4vh 5vh 4vh;
    font-size: 15px;
    font-weight: 500;
    line-height: 3vh;
  }

  .containerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .sectionFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-bottom: 4vh;
    border: #272a31 solid 1px;
    overflow: hidden;
  }

  .sectionFeature img {
    object-fit: fill;
    width: 100%;
  }

  /* Partner */
  .sectionPartner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 2vh 6vh 2vh;
    gap: 6px;
    background-color: #272a31dc;
  }

  .sectionPartner p {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
  }

  .row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2vh 0 1vh 0;
  }

  .row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1vh 0 2vh 0;
  }

  /* Footer */
  .sectionFooter {
    display: flex;
    align-items: center;
    padding: 4vh 2vh 4vh 2vh;
    justify-content: space-evenly;
  }

  .logoRegister {
    display: flex;
    align-items: center;
    gap: 1vh;
  }

  .logoRegister p {
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
  }

  .logoRegister span {
    font-size: 15px;
    font-weight: 900;
  }

  .infoRegister {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  /* Top */
  .top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1vh 0 1vh 0;
    background-color: #272a31;
  }

  .containerTop {
    display: flex;
    padding-right: 15%;
    gap: 4vh;
  }

  .top a {
    color: #fff;
  }

  .top a:hover {
    color: #ec5242;
  }

  /* Sidebar */
  .sidebar {
    position: absolute;
    display: none;
  }

  /* Toolbar */
  .toolbar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  /* DesktopNav */
  .desktopNav {
    display: grid;
    grid-template-columns: auto 60% auto;
    width: 100%;
    align-items: center;
    padding: 0 1vh 0 1vh;
    gap: 7vh;
  }

  /* LogoNav */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 50%;
    max-height: 60px;
    object-fit: cover;
  }

  /* Nav */
  .navbar {
    display: flex;
    width: 100%;
    gap: 10%;
    padding: 0;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
  }

  .navbar li {
    list-style: none;
    padding: 0;
  }

  .navbar li a:hover {
    color: #ec5242;
  }

  /* Button Quotation */
  .quotation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .btnquotation {
    font-size: 16px;
    font-weight: 700;
    padding: 1vh 2vh 1vh 2vh;
    color: #ec5242;
    background-color: transparent;
    border: #ec5242 solid 3px;
    border-radius: 5px;
  }

  /* MobileNav */
  .mobileNav {
    position: absolute;
    display: none;
  }

  /* Header */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* Headline */
  .containerHeadline {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/background/headlineBackground.png);
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 20% 7% 20%;
    gap: 8vh;
    color: #272a31;
  }

  .titleHeadline {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ec5242;
  }

  .titleHeadline h2 {
    display: none;
  }

  .titleHeadline h1 {
    margin-top: 1vh;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
  }

  .secondHeadline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 3vh 3vh 3vh;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    background-color: #fff;
    border: #272a31 solid 3px;
  }

  .dataHeadline {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
  }

  #message {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 1vh;
  }

  #email {
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px;
    color: #272a31;
  }

  /* Logo */
  .containerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 6vh 0 6vh 0;
    color: #272a31;
    overflow: hidden;
    text-align: center;
    border-bottom: #d6d7da solid 2px;
  }

  .containerLogo h3 {
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 18px;
    font-weight: 700;
  }

  .containerLogo p {
    margin-top: 4vh;
    margin-bottom: 5vh;
  }

  .imagen {
    display: flex;
    width: 50%;
    border: #d6d7da solid 2px;
    border-radius: 1vh;
    background-size: cover;
  }

  .imagen img {
    width: 100%;
    overflow: hidden;
  }

  /* Feature */
  .containerFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 0 8vh 0;
    text-align: center;
    overflow: hidden;
    color: #272a31;
  }

  .containerFeature h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1vh;
    margin-top: 0;
    color: #ec5242;
  }

  .containerFeature span {
    font-size: 20px;
    font-weight: 900;
    color: #272a31;
  }

  .containerFeature p {
    font-size: 17px;
    margin-top: 4vh;
    margin-bottom: 5vh;
    font-weight: 500;
  }

  .containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 3%;
  }

  .sectionFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: #272a31 solid 1px;
    overflow: hidden;
  }

  .sectionFeature img {
    object-fit: cover;
    width: 100%;
  }

  /* Partner */
  .sectionPartner {
    display: none;
  }

  /* Footer */
  .sectionFooter {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    justify-content: center;
    padding: 6vh 0 6vh 0;
    gap: 3vh;
    background-color: #191a1ae8;
    color: #fff;
  }

  .logoRegister {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vh;
  }

  .logoRegister p {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
  }

  .logoRegister span {
    font-size: 18px;
    font-weight: 900;
  }

  .infoRegister {
    display: flex;
    flex-direction: column;
    padding: 0 8vh 0 0;
    font-size: 12px;
    font-weight: 700;
    gap: 1vh;
  }
}
