@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global */
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

body a {
  text-decoration: none;
  color: #272a31;
}

body p {
  margin-top: 0;
  margin-bottom: 0;
}

body button {
  cursor: pointer;
}

/* Line */
.line {
  width: 40px;
  height: 1px;
  background-color: #ec5242;
}

/* Mobile version */

@media only screen and (max-width: 767px) {
  /* Top */
  .top {
    position: absolute;
    display: none;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    transition: all 500ms;
    backdrop-filter: blur(5px);
  }

  .menuOpen {
    left: 0;
  }

  .sidebar a {
    color: #fff;
  }

  #logoMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  #logoMenu img {
    width: 50%;
    border-radius: 5px;
    object-fit: cover;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.7;
    height: 100%;
    padding: 2vh;
    gap: 1vh;
    border: transparent;
    background-color: #272a31;
  }

  .toggle li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding: 3vh;
  }

  .close {
    display: flex;
    margin-left: 90%;
    margin-right: auto;
    border: transparent;
    background-color: transparent;
    padding: 1vh;
    overflow: hidden;
  }

  /* DesktopNav */
  .desktopNav {
    position: absolute;
    display: none;
  }

  /* MobileNav */
  .mobileNav {
    display: flex;
    align-items: center;
    padding: 1%;
    background-image: url(../img/background/headlineBackground.png);
  }

  .hamburguer {
    font-weight: 900;
    font-size: 50px;
    border: #272a31 solid 1px;
    background-color: rgba(255, 255, 255, 0.379);
    border-radius: 5px;
  }

  /* Headline */
  .containerHeadline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../img/background/headlineBackground.png);
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding: 4vh 2.5vh 7vh 2.5vh;
    gap: 4vh;
    color: #272a31;
  }

  .titleHeadline {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ec5242;
  }

  .titleHeadline h2 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  .titleHeadline h1 {
    margin-top: 1vh;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 38px;
    line-height: 38px;
  }

  .secondHeadline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5vh 3vh 3vh 3vh;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    background: rgba(235, 229, 225, 0.564);
    border: #fff solid 3px;
  }

  .dataHeadline {
    display: flex;
    flex-direction: column;
  }

  #data {
    font-weight: 900;
    font-size: 38px;
  }

  #location {
    font-weight: 700;
    font-size: 20px;
  }

  /* Main */
  .containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5vh 0 5vh 0;
    color: #fff;
    background-image: url(../img/background/mainBackground.png);
  }

  .containerMain h3 {
    color: #ec5242;
    font-weight: 900;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
    font-size: 24px;
  }

  #lineMain {
    background-color: #fff;
    margin-bottom: 2vh;
  }

  .mainHorizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 1vh 3vh 1vh;
    gap: 2vh;
    overflow: hidden;
  }

  .sectionMain {
    display: grid;
    grid-template-columns: 25% 25% auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1vh 0 1vh 0;
    background: rgba(255, 255, 255, 0.1);
    gap: 1vh;
  }

  .imagenMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .subtitleMain {
    font-weight: 900;
    color: #ec5242;
  }

  .btnMain {
    margin-top: 20px;
    padding: 3vh 5vh 3vh 5vh;
    background-color: #ec5242;
    border: #ec5242 solid 1px;
    color: #fff;
    font-weight: 700;
  }

  /* Feature */
  .containerFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5vh 0 5vh 0;
  }

  .containerFeature h3 {
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .containerSF {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh 2vh 0 2vh;
    gap: 2vh;
  }

  .sectionFeature {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 2vh;
  }

  .infoFeature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1vh;
  }

  .infoFeature h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .infoFeature p {
    font-style: italic;
    color: #ec5242;
  }

  .btnFeature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin: 3vh 0 0 0;
    padding: 1.5vh 0 1.5vh 0;
    border: #272a31 solid 1px;
    background-color: transparent;
    font-size: 16px;
  }

  .btnFeature span {
    font-weight: 900;
    margin-left: 5px;
    color: #ec5242;
  }

  /* Partner */
  .sectionPartner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vh 2vh 2vh;
    gap: 6px;
    background-color: #272a31;
  }

  .sectionPartner p {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
  }

  .row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2vh 0 1vh 0;
  }

  .row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1vh 0 2vh 0;
  }

  /* Footer */
  .sectionFooter {
    display: flex;
    align-items: center;
    padding: 3vh 2vh 3vh 2vh;
    justify-content: space-evenly;
  }

  .logoRegister {
    display: flex;
    align-items: center;
    gap: 1vh;
  }

  .logoRegister p {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
  }

  .logoRegister span {
    font-size: 10px;
  }

  .infoRegister {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  /* Top */
  .top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1vh 0 1vh 0;
    background-color: #272a31;
  }

  .containerTop {
    display: flex;
    padding-right: 15%;
    gap: 4vh;
  }

  .top a {
    color: #fff;
  }

  .top a:hover {
    color: #ec5242;
  }

  /* Sidebar */
  .sidebar {
    position: absolute;
    display: none;
  }


  /* Toolbar */
  .toolbar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  /* DesktopNav */
  .desktopNav {
    display: grid;
    grid-template-columns: auto 60% auto;
    width: 100%;
    align-items: center;
    padding: 0 1vh 0 1vh;
    gap: 7vh;
  }

  /* LogoNav */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 50%;
    max-height: 60px;
    object-fit: cover;
  }

  /* Nav */
  .navbar {
    display: flex;
    width: 100%;
    gap: 10%;
    padding: 0;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
  }

  .navbar li {
    list-style: none;
    padding: 0;
  }

  .navbar li a:hover {
    color: #ec5242;
  }

  /* Button Quotation */
  .quotation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .btnquotation {
    font-size: 16px;
    font-weight: 700;
    padding: 1vh 2vh 1vh 2vh;
    color: #ec5242;
    background-color: transparent;
    border: #ec5242 solid 3px;
    border-radius: 5px;
  }

  /* MobileNav */
  .mobileNav {
    position: absolute;
    display: none;
  }

  /* Header */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* Headline */
  .containerHeadline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../img/background/headlineBackground.png);
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding: 7% 20% 7% 20%;
    gap: 4vh;
    color: #272a31;
  }

  .titleHeadline {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ec5242;
  }

  .titleHeadline h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
  }

  .titleHeadline h1 {
    margin-top: 1vh;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
  }

  .secondHeadline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 3vh 3vh 3vh;
    margin-right: 20%;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    border: #fff solid 3px;
    background: rgba(235, 229, 225, 0.564);
  }

  .dataHeadline {
    display: flex;
    flex-direction: column;
  }

  #data {
    font-weight: 900;
    font-size: 38px;
  }

  #location {
    font-weight: 700;
    font-size: 20px;
  }

  /* Main */
  .containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5vh 0 5vh 0;
    gap: 1.5vh;
    color: #fff;
    background-image: url(../img/background/mainBackground.png);
  }

  #lineMain {
    margin-bottom: 2vh;
  }

  .containerMain h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 22px;
  }

  .mainHorizontal {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 0 1vh 0 1vh;
    gap: 1%;
  }

  .sectionMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 1vh 2vh 1vh;
    background: rgba(255, 255, 255, 0.1);
    gap: 1vh;
    font-size: 18px;
  }

  .subtitleMain {
    font-weight: 900;
    color: #ec5242;
  }

  .btnMain {
    background-color: transparent;
    border: transparent;
    color: #fff;
    text-decoration: underline;
    margin-top: 2vh;
    font-size: 18px;
    font-weight: 700;
  }

  .btnMain:hover {
    color: #ec5242;
  }

  /* Feature */
  .containerFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5vh 0 5vh 0;
  }

  .containerFeature h3 {
    margin-bottom: 2vh;
    margin-top: 0;
  }

  .containerSF {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vh;
    padding: 2vh 3vh 2vh 3vh;
  }

  .sectionFeature {
    display: flex;
    align-items: flex-start;
    gap: 2vh;
    padding-top: 3vh;
  }

  .infoFeature {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .infoFeature h4 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .infoFeature p {
    font-style: italic;
    color: #ec5242;
  }

  .btnFeature {
    display: none;
  }

  /* Partner */
  .sectionPartner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2vh 0 2vh 0;
    background-color: #272a31;
  }

  .sectionPartner p {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1vh;
    margin-top: 2vh;
  }

  .row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 3vh;
  }

  .row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
  }

  /* Footer */
  .sectionFooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh 0 2vh 0;
  }

  .logoRegister {
    display: flex;
    align-items: center;
    gap: 1vh;
  }

  .logoRegister p {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
  }

  .logoRegister span {
    font-size: 10px;
    font-weight: 500;
  }

  .infoRegister {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 700;
  }
}
