/* Global */
body{
  margin: 0;
  padding: 0;
}
/* Mobile version */

@media only screen and (max-width:767px) {
  
  /* Headline */

  .containerHeadline{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 10px;
    background-image: url(../img/background/headlineBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }

  .toolbar{
    display: flex;
    align-items: center;
  }

  /* Main */

  .containerMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding: 10px;
    background-image: url(../img/background/mainBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }

}

/* Desktop version */

@media only screen and (min-width:768px){


  

}